# Ignore build outputs
*.suo
*.user
_ReSharper.*
bin
obj
packages

# VS-related
.vs/

# ASP.NET temp
wwwroot/lib/

/Prueba_SCISA_Pokemon/bin/Debug/net8.0/Prueba_SCISA_Pokemon.dll
/Prueba_SCISA_Pokemon/bin/Debug/net8.0/Prueba_SCISA_Pokemon.exe
/Prueba_SCISA_Pokemon/bin/Debug/net8.0/Prueba_SCISA_Pokemon.pdb
/Prueba_SCISA_Pokemon/obj/Debug/net8.0/rpswa.dswa.cache.json
/Prueba_SCISA_Pokemon/obj/Debug/net8.0/Prueba_SCISA_Pokemon.dll
/Prueba_SCISA_Pokemon/obj/Debug/net8.0/apphost.exe
/Prueba_SCISA_Pokemon/obj/Debug/net8.0/Prueba_SCISA_Pokemon.AssemblyInfo.cs
/Prueba_SCISA_Pokemon/obj/Debug/net8.0/ref/Prueba_SCISA_Pokemon.dll
/Prueba_SCISA_Pokemon/obj/Debug/net8.0/refint/Prueba_SCISA_Pokemon.dll
/Prueba_SCISA_Pokemon/obj/Debug/net8.0/Prueba_SCISA_Pokemon.AssemblyInfoInputs.cache
/Prueba_SCISA_Pokemon/obj/Debug/net8.0/Prueba_SCISA_Pokemon.pdb
/Prueba_SCISA_Pokemon/obj/Debug/net8.0/Prueba_SCISA_Pokemon.sourcelink.json
/Prueba_SCISA_Pokemon/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/Prueba_SCISA_Pokemon/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
